.App {
    background: #fff;
    color: #3c4151;
    font-family: "Gotham Pro", Arial, serif;
}

body {
    margin: 0;
}

.border-div {
    border: 2px solid #8C66FF;
    border-radius: 5px;
    align-items: baseline;
    min-width: 126px;
    max-width: 148px;
    width: 65%;
    margin: 0 auto;
    font-weight: 500;
}

button {
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    margin-top: 0.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    background-color: rgb(121, 76, 255);
    box-shadow: rgba(0, 0, 0, 0.082) 0px 0.1px 0.7px, rgba(0, 0, 0, 0.118) 0px 0.4px 2.2px, rgba(0, 0, 0, 0.2) 0px 2px 10px;
    padding-left: 1em;
    padding-right: 1em;
    transform: translateY(0px);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-out 0s, transform 0.2s linear 0s, background-color 0.2s linear 0s;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.11) 0px 0.2px 0.5px -2px, rgba(0, 0, 0, 0.157) 0px 0.4px 1.3px -2px, rgba(0, 0, 0, 0.196) 0px 0.9px 2.7px -2px, rgba(0, 0, 0, 0.24) 0px 1.8px 5.5px -2px, rgba(0, 0, 0, 0.35) 0px 5px 15px -2px;
    background-color: rgb(140, 101, 255);
    transform: translateY(-1px);
}

#custom-dropzone {
    width: 90%
}

#demo-app {
    width: 100%;
    display: flex;
    height: 100vh;
}

.demo-half {
    border: none;
    margin: 0;
    width: 50%;
    height: 100%;
}

.download {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

a {
    text-decoration: none;
}

label {
    color: #8C66FF !important;
}

h3 {
    color: #2E3440;
    margin-bottom: 25px;
}

h4 {
    color: #8C66FF;
    text-decoration: none;
    margin: 17px;
}

h4:hover {
    color: #EE5584;
}

label > h4 {
    display: inline;
}

label > h4:hover {
    color: unset;
}

#page-toggle {
    margin-top: 50px;
    text-align: center;
}

.file-icon {
    width: 45%;
    display: inline-block;
    padding: 5%;
    text-align: center;
}

.file-icon > div > a > svg {
    width: 50px;
    padding-top: 10px;
}

.icon-wrapper {
    display: flex;
}

#ide_sidebar {
    overflow: scroll;
}

#launch {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 96px 0 64px 0;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: block;
    padding: 0 64px;
    height: 44px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 15px;
    font-weight: 500;
    outline: 0;
    background-color: #4a90e2;
}

#launch:focus,
#launch:hover {
    background-color: #2171ce;
}

#launch:active {
    background-color: #1d62b4;
}

#raw_output {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    padding: 64px;
    margin: 32px 0;
    border: 1px solid #c1c6d1;
    border-radius: 4px;
    font-family: "Courier New", monospace;
    background-color: #3c4151;
    color: #fff;
    height: 200px;
}

.licenseAsk {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.licenseAsk p {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: normal;
}

#launch.disabled {
    background-color: gray;
    cursor: not-allowed;
}

.react-toggle-track {
    background-color: #8C66FF !important;
}

.react-toggle:hover .react-toggle-track {
    background-color: #8C66FF !important;
}

.react-toggle--checked .react-toggle-thumb {
    border-color: #FAFAFA !important;
}

.react-toggle--checked .react-toggle-track {
    background-color: #EE5584 !important;
}

.react-toggle--checked:hover .react-toggle-track {
    background-color: #EE5584 !important;
}

.selected-file {
    box-shadow: 0 0 3px 3px blue;
}

/*React Table Overrides*/
th:first-child {
    min-width: unset !important;
    width: 20px !important;
}

.Spreadsheet {
    width: 100% !important;
}

table {
    width: 45vw !important;
    margin: 25px auto 0 auto !important;
}

tbody {
    display: block;
    overflow: auto;
    height: 25vh;
    width: 45vw !important;
}

/*Syntax Highlighter Overrides*/
pre {
    height: 100vh !important;
    margin: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
